#asm-player-body{
	background:#f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	width: 75%;
	margin: auto;
	display: block;
	position: relative;
	min-height: 185px;
	height: auto;
}
#asm-cover-image{
	width: 25%;
	background-size: cover;
	background-position: center center;
	display: block;
	height: 185px;
	float: left;
	position: relative;
}
#asm-play-button{
	color: #ffffff;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: absolute;
	right: -30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-box-shadow: 0px 0px 9px 1px rgba(47,47,47,0.5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 0px 9px 1px rgba(47,47,47,0.5);  /* Firefox 3.5 - 3.6 */
	box-shadow: 0px 0px 9px 1px rgba(47,47,47,0.5);
	transition: all ease-in 0.5s;
}
#asm-play-button:hover{
	box-shadow: none;
	transition: all ease-in 0.5s;
}

#asm-play-button p{
	position: relative;
	margin: 0px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	display: block;
	font-size: 2.5rem;
}

#asm-body-content{
	float: left;
	margin-left: 45px;
	width: 68%;
	position: relative;
	height: 185px;
}
#asm-content-buttons{
	position: absolute;
	width: 100%;
	top: 10px;
}
#asm-content-buttons p{
	margin-top: 0px;
}
#asm-share-buttons{
	float: right;
}
#asm-share-buttons a{
	float: left;
}
#asm-button-dwnld{
	transition: all ease-in 0.3s;
}
#asm-button-dwnld:hover{
	transition: all ease-in 0.3s;
}

#asm-share-twitter{
	color:#00aced;
	margin: 0px 5px;
}
#asm-share-facebook{
	color:#3b5998;
	margin: 0px 5px;
}
#asm-content-info{
	width: 100%;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
}
#asm-content-title{
	margin: 0px;
}
#asm-content-captions{
	margin-top: 0px;
}
#asm-content-scrub-controls{
	width: 100%;
	position: absolute;
	bottom: 25px;
}
#asm-scrub-pos-container,
#asm-scrub-length-container,
#asm-content-scrub-bar{
	float: left;
	display: block;
	box-sizing: content-box;
}

#asm-scrub-pos-container,
#asm-scrub-length-container{
	width: auto;
	text-align: center;
}

#asm-scrub-pos-container{
	margin-right: 10px;
  line-height: 0.6;
}
#asm-scrub-length-container{
	margin-left: 10px;
  line-height: 0.6;
}


#asm-content-scrub-bar,
#asm-content-scrub-bar-current{
	height: 10px;
	display: block;
	border-radius: 30px;
}
#asm-content-scrub-bar{
	position: relative;
}

#asm-scrubbing-tooltip{
	position: absolute;
	width: auto;
	height:25px;
	color: #fff;
	top:-30px;
	text-align: center;
	padding: 10px;
	display:none;
	left:-23.5px;
	border-radius: 5px;
}

#asm-scrubbing-tooltip:after{
	content:'';
	 position: absolute;
	 top: 100%;
	 left: 0;
	 right: 0;
	 margin: 0 auto;
	 width: 0;
	 height: 0;
}

#asm-player-body .clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
	 }
#asm-player-body .clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html #asm-player-body .clearfix { height: 1%; }
#asm-player-body .clearfix { display: block; }
/* close commented backslash hack */
#asm-content-scrub-bar{
    width: 75%;
}
@media(max-width:991px){
  #asm-cover-image{
    width: 25%;
  }
  #asm-body-content{
    width: 65%;
  }
  #asm-content-scrub-bar{
      width: 60%;
  }
	#asm-play-button{
		transition: none;
	}



}

@media(max-width:767px){
	#asm-player-body{
		padding-bottom: 20px;
	}
	#asm-cover-image {
    width: 100%;
		float: none;
	}

	#asm-play-button{
		left: 50%;
		transform: translateX(-50%);
		bottom: -30px;
		top:auto;
		transition: none;
	}
	#asm-body-content{
		margin: 0px;
    display: block;
    width: 100%;
    margin-top: 40px;
		float: none;
  }
	#asm-content-buttons {
    position: relative;
    width: 100%;
    padding: 0px 10px;
		top: auto;
	}
	#asm-content-info{
		padding: 10px;
		margin-bottom: 25px;
		position: relative;
		top: auto;
		transform: translateY(0%);
	}
	#asm-content-title,
	#asm-content-captions{
		text-align: center;
	}
	#asm-scrub-pos-container{
		float: left;
		padding-left: 10px;
	}
	#asm-scrub-length-container{
		float: right;
		padding-right: 10px;
	}
	#asm-content-scrub-bar{
		width: 100%;
		position: absolute;
		top:-20px;
		border-radius: 0px;
	}
	#asm-content-scrub-bar-current{
		border-radius: 0px;
	}
	#asm-scrubbing-tooltip{
		padding: 3px;
	}
	#asm-content-scrub-controls{
		position: relative;
		bottom: auto;
	}
}
